# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~

# ide
.idea/
.vscode/

# python venv
venv/
venv1/
venv2/

# due to using testing tools
test.py
testdata.py
.tox
.cache
.coverage
coverage.xml
.coverage.*
htmlcov/
